{% extends 'Shop/base.html' %}
{% load static %}

{% block content %}

    <div class="wrapper">
        <form class="form-signin">
            <h2 class="form-signin-heading text-center">Registrieren</h2>
            <input type="text" class="form-control" name="vorname" placeholder="Vorname" required="" autofocus=""/>
            <input type="text" class="form-control" name="nachname" placeholder="Nachname" autofocus=""/>
            <input type="text" class="form-control" name="username" placeholder="Email Adresse" required="" autofocus=""/>
            <input type="text" class="form-control" name="instagram" placeholder="Instagram username" autofocus=""/>
            <input type="password" class="form-control" name="passord" placeholder="Passwort" required=""/>
            <input type="password" class="form-control" name="passord_validate" placeholder="Passwort wiederholen" required=""/>
            <label class="checkbox">
                <input type="checkbox" value="conditons" id="conditions" name="conditions" required="">
                Ich akzeptiere die Bedingungen.
            </label>
            <button class="btn btn-lg btn-primary btn-block" id="textCheckbox">Registrieren</button>
        </form>
    </div>


{% endblock content %}