{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <a class="navbar-brand" href="{% url 'home' %}">
     <img src=" {% static '/images/Artista_Logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      Artista
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Beststeller <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Neuheiten <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog <span class="sr-only"></span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'cart' %}"><i class="fa fa fa-shopping-cart fa-sm"></i> Warenkorb | 0</a>
      </li>
      {% if user.is_authenticated or shopuser.is_authenticated %}
      <li class="nav-item px-3">
        <a class="btn btn-outline-primary" href="{% url 'upload' %}"><i class="fa fa fa-plus-circle fa-sm"></i> Bild hochladen</a>
      </li>
        <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hallo, {{ user.username | title }}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'user' %}">Konto</a>
                <a class="dropdown-item" href="{% url 'upload' %}">Bilder verkaufen</a>
    <a class="dropdown-item" href="#">Bestellungen</a>
    <a class="dropdown-item" href="#">Favoriten</a>
                <hr>
    <a class="dropdown-item" href="{% url 'logout' %}">Abmelden</a>
  </div>
</div>
      {% else %}
      <li>
        <a class="btn btn-warning ml-3" href="{% url 'login' %}">Anmelden</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
</nav>