{% load static %}

<script type="text/javascript">
    function myFunction() {
        var element = document.getElementById("myDropdown");
        if (element.style.display === "none") {
            element.style.display = "block";
        } else {
            element.style.display = "none";
        }
    }

    function clickedItem(e) {
        var targetName = e.target.innerText;
        var element = document.getElementById("default_value");
        element.innerText = targetName;

    }
</script>

<div class="wrapper-search d-flex justify-content-center">
    <div class="search-box">
        <div class="dropdown" onclick="myFunction()">
            <div class="default_option" id="default_value">Alle</div>
            <ul id="myDropdown">
                <li onclick="clickedItem(event)">Alle</li>
                <li onclick="clickedItem(event)">Titel</li>
                <li onclick="clickedItem(event)">Beschreibung</li>
                <li onclick="clickedItem(event)">Bewertung</li>
                <li onclick="clickedItem(event)">Instagram Name</li>
            </ul>
        </div>
        <div class="search_field">
            <input type="text" class="input" placeholder="Suchen...">
            <i class="fa fa fa-search"></i>
        </div>
    </div>
</div>

<!-- This form works fine for testing!
<br>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

-->