{% load static %}

<script type="text/javascript">
    function myFunction() {
        var element = document.getElementById("myDropdown");
        if (element.style.display === "none") {
            element.style.display = "block";
        } else {
            element.style.display = "none";
        }
    }

    function clickedItem(e) {
        var targetName = e.target.innerText;
        if (targetName != "Bewertung"){
            var element = document.getElementById("myplaceholder");
            element.setAttribute("placeholder", "Suchen...")
        } else {
            var element = document.getElementById("myplaceholder");
            element.setAttribute("placeholder", "Zahl eingeben: 1 - 5")
        }
        var element = document.getElementById("default_value");
        element.innerText = targetName;
        var input = document.getElementById("myCategory");
        input.setAttribute("value", String(targetName));

    }
</script>

<div class="wrapper-search d-flex justify-content-center">
    <div class="search-box">
        <div class="dropdown" onclick="myFunction()">
            <div class="default_option" id="default_value">Titel</div>
            <ul id="myDropdown">
                <li onclick="clickedItem(event)">Titel</li>
                <li onclick="clickedItem(event)">Beschreibung</li>
                <li onclick="clickedItem(event)">Bewertung</li>
                <li onclick="clickedItem(event)">Instagram Name</li>
            </ul>
        </div>
        <form method="post" class="search_field">
            {% csrf_token %}
            <input type="text" class="input" name="title" id="myplaceholder" placeholder="Suchen...">
            <input type="hidden" id="myCategory" value="Titel" maxlength="100" class="form-control" name="myCategory"/>
            <i class="fa fa fa-search" onclick="this.parentNode.submit();"></i>
        </form>
    </div>
</div>