{% extends 'Shop/base.html' %}
{% load static %}

{% block content %}

    <div class="container">

{% block logged_in_content %}

    <h2 class="text-center mt-4">Flagged Comments</h2>

    {% if not can_delete %}

        <p class="text-center">Du bist nicht authorisiert diesen Bereich zu bearbeiten.</p>

    {% endif %}


    {% for comment in comments_with_flag %}
        <br>
        <b>{{ comment.user.username }} on {{ comment.timestamp }}</b><br>
        {{ comment.text }}<br>

        {% if can_delete %}

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" id="comment_id" name="comment_id" value="{{ comment.id }}">
                <button type="submit" name="edit">Bearbeiten</button>
                <button type="submit" name="delete">Löschen</button>
            </form>
            <br>

        {% endif %}

    {% endfor %}

{% endblock logged_in_content %}

    </div>

{% endblock content %}