{% extends 'Shop/base.html' %}

{% load static %}
{% load custom_filter %}

{% block content %}

    <script type="text/javascript">
        function hover(e) {
            if (e.target.id == "one-star") {
                document.getElementById('one-star').setAttribute("style", "color: red");
            } else if(e.target.id == "two-star") {
                document.getElementById('one-star').setAttribute("style", "color: red");
                document.getElementById('two-star').setAttribute("style", "color: red");
            } else if (e.target.id == "three-star") {
                document.getElementById('one-star').setAttribute("style", "color: red");
                document.getElementById('two-star').setAttribute("style", "color: red");
                document.getElementById('three-star').setAttribute("style", "color: red");
            } else if (e.target.id == "four-star") {
                document.getElementById('one-star').setAttribute("style", "color: red");
                document.getElementById('two-star').setAttribute("style", "color: red");
                document.getElementById('three-star').setAttribute("style", "color: red");
                document.getElementById('four-star').setAttribute("style", "color: red");
            } else if (e.target.id == "five-star") {
                document.getElementById('one-star').setAttribute("style", "color: red");
                document.getElementById('two-star').setAttribute("style", "color: red");
                document.getElementById('three-star').setAttribute("style", "color: red");
                document.getElementById('four-star').setAttribute("style", "color: red");
                document.getElementById('five-star').setAttribute("style", "color: red");
            }
        }

        function leave() {
            var elements = document.getElementsByClassName('fa-star');
            counter = 0
            for (element of elements) {
                if (counter < {{ avg }}) {
                    element.setAttribute("style", "color:blue;");
                } else {
                    element.setAttribute("style", "");
                }
                counter++;
                console.log(counter);
            }

        }

        function open() {
            var elements = document.getElementsByClassName('fa-star');
            counter = 0
            for (element of elements) {
                if (counter < {{ avg }}) {
                    element.setAttribute("style", "color:blue;");
                }
                counter++;
                console.log(counter);
            }

        }


    </script>

    <!-- Infos -->

    <div class="container">
        <div class="row product-details mt-4 mb-4">
            <div class="col-sm">
                <img class="product-image img-show" src="{{ that_one_product.image.url }}">
            </div>
            <div class="col-sm">

                <h1>{{ that_one_product.title }}</h1>
                <h2 class="text-muted">Kategorie: {{ that_one_product.get_category_display }}</h2>
                <p><i class="fas fa fa-user fa-sm"></i>
                    {{ that_one_product.creator.instagram_handle }}</p>
                <div class="rating">
                    <div class="stars">
                        <a href="vote/O/"><span onmouseover="hover(event)" onmouseout="leave()" id="one-star" class="fa fa-star fa-star-unchecked"></span></a>
                        <a href="vote/TW/"><span onmouseover="hover(event)" onmouseout="leave()" id="two-star" class="fa fa-star fa-star-unchecked"></span></a>
                        <a href="vote/TH/"><span onmouseover="hover(event)" onmouseout="leave()" id="three-star" class="fa fa-star fa-star-unchecked"></span></a>
                        <a href="vote/FO/"><span onmouseover="hover(event)" onmouseout="leave()" id="four-star" class="fa fa-star fa-star-unchecked"></span></a>
                        <a href="vote/FI/"><span onmouseover="hover(event)" onmouseout="leave()" id="five-star" class="fa fa-star fa-star-unchecked"></span></a>
                        <span class="review-no text-muted"> {{ number_of_votes }} Bewertung(en)</span>
                    </div>

                </div>
                <div id="summary">
                    <p class="collapse text-muted" id="collapseSummary">{{ that_one_product.description }}</p>
                    <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
                </div>
                <br>
                <p>{{ that_one_product.price | floatformat:"0" }}€</p>

                <div class="d-flex">
                    <div class="btn-group">
                        <a href="add/{{ product.id }}/"><button type="button" class="btn btn-sm btn-outline-secondary mr-1">Hinzufügen</button></a>
                        {% if can_update %}
                        <a href="{{ product.id }}update/"><button type="button" class="btn btn-sm btn-outline-secondary mr-1">Bearbeiten</button></a>
                        {% endif %}
                        <a href="{{ product.id }}pdf/"><button type="button" class="btn btn-sm btn-outline-secondary">PDF</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Write Comment -->

    {% if can_comment %}

    <div class="album py-1 bg-light">
        <div class="container">
            <h5 class="mt-4">Schreibe einen Kommentar zu diesem Produkt:</h5>

            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="text" required class="form-control" id="comment_id" rows="3"></textarea>
                </div>
                <button class="btn btn-primary mb-4" type="submit">Abschicken</button>
            </form>
        </div>
    </div>

    {% endif %}

    <!-- Kommentare -->

    <div class="container">
        <h5 class="mt-4">Kommentare:</h5>
        {% if not comments_for_that_one_product|length > 0 %}
            <p>Aktuell gibt es noch keine Kommentare</p>
        {% endif %}
        {% for comment in comments_for_that_one_product%}
            <div class="media comment-box">
                <div class="media-left">
                    <a href="#">
                        <!-- Please check if user has its own profile picture!! -->
                        <!-- <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"> -->
                        <img class="img-responsive user-photo" src="{{ comment.user.profile_picture.url }}">
                    </a>
                </div>
                <div class="media-body">
                    <div class="container">
                        <div class="row">
                            <div class="media-heading col"><strong>{{ comment.user.username }}</strong> am {{ comment.timestamp }}</div>
                            <div class="col mycustom-report" style="text-align: right"><a class="voting" href="comment/{{ comment.id }}/vote-comment/U/"><i class="fa fa fa-thumbs-up fa-sm"></i></a> {{ comments_upvotes|get_at_index:forloop.counter0 }} <a class="voting" href="comment/{{ comment.id }}/vote-comment/D/"><i class="fa fa fa-thumbs-down fa-sm"></i></a> {{ comments_downvotes|get_at_index:forloop.counter0 }} <a class="voting" href="comment/{{ comment.id }}/vote-comment/F/"><i class="fa fa fa-flag fa-sm"></i></a> {{ comments_flags|get_at_index:forloop.counter0 }}</div>
                        </div>
                    </div>
                    <p>{{ comment.text }}</p>

                </div>
            </div>
        {% endfor %}

    </div>

    <script type="text/javascript">
        window.onload = open;
    </script>



{% endblock content %}