{% extends 'Shop/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row product-details mt-4 mb-4">
            <div class="col-sm">
                <img class="product-image" src="{{ that_one_product.image.url }}">
            </div>
            <div class="col-sm">

                <h1>{{ that_one_product.title }}</h1>
                <h2 class="text-muted">Kategorie: {{ that_one_product.get_category_display }}</h2>
                <p><i class="fas fa fa-user fa-sm"></i>
                    {{ that_one_product.creator.instagram_handle }}</p>
                <div class="rating">
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <span class="review-no">41 reviews</span>
                </div>
                <p class="text-muted">{{ that_one_product.price }}€</p>

                <div class="d-flex">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Hinzufügen</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Bearbeiten</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="album py-1 bg-light">
        <div class="container">
            <div class="wrapper-search d-flex justify-content-center">
                <div class="search-box">
                    <div class="search_field">
                        <input type="text" class="input" placeholder="Rezension...">
                        <i class="fa fa fa-send"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}