{% extends 'Shop/base.html' %}
{% load static %}

{% block content %}

    <section class="jumbotron text-center mt-4" style="background: url({% static '/images/jumbotron.jpg' %}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;>
        <div class="container">
          <h1 class="jumbotron-heading">Neue Sommermotive!</h1>
          <p class="lead text-muted">Ob klassisch oder neueste Trends - Artista schätzt die Arbeit der Künstler. </p>
          <p>
            <a href="#" class="btn btn-secondary my-2">Sommermotive durchstöbern</a>
          </p>
        </div>
      </section>

    <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/placeholder.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Am Meer</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Kategorie</h6>
                  <p class="card-text"><i class="fas fa fa-user fa-sm"></i>
                      Max Mustermann</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ansehen</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Hinzufügen</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Bearbeiten</button>
                    </div>
                    <medium class="text-muted">20€</medium>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/placeholder.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Am Meer</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Kategorie</h6>
                  <p class="card-text"><i class="fas fa fa-user fa-sm"></i>
                      Max Mustermann</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ansehen</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Hinzufügen</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Bearbeiten</button>
                    </div>
                    <medium class="text-muted">20€</medium>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/placeholder.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Am Meer</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Kategorie</h6>
                  <p class="card-text"><i class="fas fa fa-user fa-sm"></i>
                      Max Mustermann</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ansehen</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Hinzufügen</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Bearbeiten</button>
                    </div>
                    <medium class="text-muted">20€</medium>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/placeholder.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Am Meer</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Kategorie</h6>
                  <p class="card-text"><i class="fas fa fa-user fa-sm"></i>
                      Max Mustermann</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ansehen</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Hinzufügen</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Bearbeiten</button>
                    </div>
                    <medium class="text-muted">20€</medium>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/placeholder.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Am Meer</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Kategorie</h6>
                  <p class="card-text"><i class="fas fa fa-user fa-sm"></i>
                      Max Mustermann</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ansehen</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Hinzufügen</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Bearbeiten</button>
                    </div>
                    <medium class="text-muted">20€</medium>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/placeholder.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Am Meer</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Kategorie</h6>
                  <p class="card-text"><i class="fas fa fa-user fa-sm"></i>
                      Max Mustermann</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ansehen</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Hinzufügen</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Bearbeiten</button>
                    </div>
                    <medium class="text-muted">20€</medium>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/placeholder.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Am Meer</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Kategorie</h6>
                  <p class="card-text"><i class="fas fa fa-user fa-sm"></i>
                      Max Mustermann</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ansehen</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Hinzufügen</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Bearbeiten</button>
                    </div>
                    <medium class="text-muted">20€</medium>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/placeholder.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Am Meer</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Kategorie</h6>
                  <p class="card-text"><i class="fas fa fa-user fa-sm"></i>
                      Max Mustermann</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ansehen</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Hinzufügen</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Bearbeiten</button>
                    </div>
                    <medium class="text-muted">20€</medium>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/placeholder.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Am Meer</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Kategorie</h6>
                  <p class="card-text"><i class="fas fa fa-user fa-sm"></i>
                      Max Mustermann</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ansehen</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Hinzufügen</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Bearbeiten</button>
                    </div>
                    <medium class="text-muted">20€</medium>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}