{% extends 'Shop/base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron jumbotron-fluid mt-3">
        <div class="container">
            <h1 class="display-5">Der Marktplatz für deine Kunstwerke</h1>
            <p class="lead">Du würdest gerne deine Bilder verkaufen und möchtest dich
                nicht um die Erstellung eines Shops, Versand und das Marketing kümmern?
                Werde Teil einer großen Gruppe von Künstlern auf Artista und mache deinen
                Followern eine Freude!</p>
        </div>
    </div>
    <div class="container">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">Titel</label>
                <input type="text" name="title" maxlength="100" required class="form-control" id="id_title" placeholder="Brandenburger Tor">
            </div>
            <div class="form-group">
                <label for="id_description">Beschreibung</label>
                <textarea name="description" class="form-control" id="id_description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="id_category">Kategorie</label>
                <select name="category" class="form-control" required id="id_category">
                    <option value="L">Landschaft</option>
                    <option value="P">Portrait</option>
                    <option value="U">Urban</option>
                    <option value="S">Sport</option>
                    <option value="A">Artwork</option>
                    <option value="M">Makro</option>
                </select>
            </div>
            <div class="form-group">
                <label for="id_price">Preis</label>
                <input type="number" name="price" step="any" required class="form-control" id="id_price" placeholder="20€">
            </div>
            <div class="form-group">
                <label for="id_image">Bild</label><br>
                <input type="file" name="image" accept="image/*" required="" id="id_image">
            </div>
            <div class="form-check">
                <input type="checkbox" required class="form-check-input" id="termsandconditions">
                <label class="form-check-label" for="termsandconditions">Ich stimme den Nutzungsbedingungen zu.</label>
            </div>


            <button class="btn btn-primary mt-4 mb-4" type="submit">Abschicken</button>

        </form>
    </div>
{% endblock content %}