{% extends 'Shop/base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron jumbotron-fluid mt-3">
  <div class="container">
    <h1 class="display-5">Der Marktplatz für deine Kunstwerke</h1>
    <p class="lead">Du würdest gerne deine Bilder verkaufen und möchtest dich
        nicht um die Erstellung eines Shops, Versand und das Marketing kümmern?
        Werde Teil einer großen Gruppe von Künstlern auf Artista und mache deinen
        Followern eine Freude!</p>
  </div>
</div>
    <div class="container">
        <p>Hier die Product Upload Form...</p>
    </div>
{% endblock content %}